@model pigeOnline.Models.Review

@{
    ViewData["Title"] = "Delete";
}

<form asp-action="Delete" class="container-fluid">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div id="DeleteReviewCard" class="card row">
        <div class="card-body">

            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.RateNumber)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.RateNumber)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Text)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Text)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.TimeAndDate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.TimeAndDate)
                </dd>
            </dl>


            <div class="container">
                <div class="row">
                    <div class="col-5">
                    </div>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger DeleteBut" />
                        <a asp-action="Index">Back to List</a>
                    </form>
                </div>
            </div>

        </div>
    </div>
</form>
    


